<div class="px-4">

    <div class="flex space-x-7">
        <div class="card bg-base-100 min-w-44  md:w-60 shadow-xl my-4">
            <div class="card-body">
              <h2 class="font-bold text-gray-700">Active Employees</h2>
              <h2 class="text-gray-500">{{totalEmployees}}</h2>
              <div class="card-actions justify-end">
              </div>
            </div>
          </div>
    
          <!-- <div class="card bg-base-100 min-w-44 md:w-96 shadow-xl my-4">
            <div class="card-body">
              <h2 class="card-title">All Employees</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div> -->
    </div>

    <button class="my-4 btn text-white bg-gray-800" (click)="addEmployees()">New</button>
    <div class="relative overflow-x-auto sm:rounded-lg">
        <table class="md:w-full shadow-md text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Employee Number
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Firstname
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Lastname
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contacts
                    </th>
                    <th scope="col" class="px-6 py-3"> 
                    </th>
                    <th scope="col" class="px-6 py-3">   
                    </th>
                    <th scope="col" class="px-6 py-3">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
                    *ngFor="let employee of employees">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{employee.employeeNumber}}
                    </th>
                    <td class="px-6 py-4">
                        {{employee.firstname}}
                    </td>
                    <td class="px-6 py-4">
                        {{employee.lastname}}
                    </td>
                    <td class="px-6 py-4">
                        {{employee.department}}
                    </td>
                    <td class="px-6 py-4">
                        {{employee.email}}
                    </td>
                    <td class="px-6 py-4">
                        {{employee.contacts}}
                    </td>
                    <td class="px-6 py-4">
                        <button class="my-4 btn text-white bg-yellow-400" (click)="updateEmployeeById(employee.employeeId)">Update</button>
                    </td>
                    <td class="px-6 py-4">
                        <button class="my-4 btn text-white bg-gray-800" (click)="getEmployeeById(employee.employeeId)">View</button>
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-red-600 dark:text-blue-500 hover:underline" (click)="deleteByEmployeeId(employee.employeeId)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>