<!-- <nav>
    <div class="bg-gray-800 w-full h-20 flex items-center px-4">
        <div class="flex justify-end mx-4 bg-gray-200  w-10 h-10 rounded-full"></div>
        <div class="text-white font-bold flex items-end justify-end">TheemailGoesHere</div>
        <div class="mx-4 bg-gray-200  w-10 h-10 rounded-full"></div>
    </div>
</nav> -->

<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" (click)="getAllEmployees()">Personnel</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="font-bold"><a>User Details</a></li>
      </ul>
      <div class="mx-4 bg-gray-200  w-10 h-10 rounded-full"></div>
    </div>
  </div>