<div class="w-full h-full">

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-4 space-y-6">
            <!-- <h1 class="font-bold flex text-center justify-center pb-4 text-4xl">Login</h1> -->
            <div class="flex justify-center">
                <a class="btn btn-ghost text-4xl my-20">Personnel</a>
              </div>
            <div class="form-group">
                <div class="flex justify-center">
                    <label class="input input-bordered gap-2 flex items-center w-4/6 md:w-2/6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="h-4 w-4 opacity-70">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                    </svg>
                        <input type="text" class="form-control" placeholder="Username" id="username"
                            formControlName="username">
                    </label>
                </div>
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-msg text-red-400 flex justify-center py-2">
                    <small *ngIf="loginForm.get('username')?.errors?.['required']">username is required.</small>
                    <small *ngIf="loginForm.get('username')?.errors?.['minlength']">
                        Username must be at least 4 characters long.
                      </small>
                </div>
            </div>

            <div class="form-group">
                <div class="flex justify-center form-group">
                    <label class="input input-bordered gap-2 flex items-center w-4/6 md:w-2/6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="h-4 w-4 opacity-70">
                            <path fill-rule="evenodd"
                                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                clip-rule="evenodd" />
                        </svg>
                        <input type="password" class="form-control" placeholder="Password" id="password"
                            formControlName="password">
                    </label>
                </div>
            </div>

        </div>

        <div class="flex justify-center">
            <button class="btn btn-wide bg-gray-800 text-white " type="submit"
                >Login</button>
        </div>

        <div class="flex justify-center">
            Don't have an account?
            <a href="" routerLink="/register" class="text-red-600">Register</a>
        </div>

    </form>
</div>
