<div class="w-full h-20 bg-yellow-400 flex items-center">
    <div class="px-5" (click)="back()">
        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
          </svg>
    </div>
</div>

<div class="px-4">
    <div>
        <h3 class="my-4 font-bold"> Add New Employee </h3>
    </div>

    <form (ngSubmit)="onSubmit()" class="block justfiy-center space-y-4">

        <div class="form-group">
            <label class="w-4/5 md:w-3/6 input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                    <path
                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                </svg>
                <input class="form-control" id="employeeNumber" formControlName="employeeNumber"
                    name="employeeNumber" type="text" class="grow" placeholder="Employee Number" />
            </label>
        </div>

        <!-- <div *ngIf="addForm.get('employeeNumber')?.invalid && addForm.get('employeeNumber')?.touched" class="error-msg text-red-400 flex justify-center py-2">
            <small *ngIf="addForm.get('employeeNumber')?.errors?.['required']">employee number is required.</small>
            <small *ngIf="addForm.get('employeeNumber')?.errors?.['minlength']">
                add an employee number.
              </small>
        </div> -->


        <div class="form-group">
            <label class="w-4/5 md:w-3/6 input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                </svg>
                <input class="form-control" id="firstname" formControlName="firstname" name="firstname" type="text"
                    class="grow" placeholder="First Name" />
            </label>
        </div>

        <div class="form-group">
            <label class="w-4/5 md:w-3/6 input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                </svg>
                <input class="form-control" id="lastname" formControlName="lastname" name="lastname" type="text"
                    class="grow" placeholder="Last Name" />
            </label>
        </div>

        <div class="form-group">
            <select id="department" formControlName="department" name="department" id="countries" class="w-4/5 md:w-3/6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected>Select a Department</option>
              <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
            </select>
          </div>

        <div class="form-group flex justfiy-center items-center">
            <label class="w-4/5 md:w-3/6 input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                    <path
                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                </svg>
                <input class="form-control" id="email" formControlName="email" name="email" type="text"
                    class="grow" placeholder="Email" />
            </label>
        </div>

        <div class="form-group">
            <label class="w-4/5 md:w-3/6 input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                    <path
                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                </svg>
                <input class="form-control" id="contacts" formControlName="contacts" name="contacts" type="text"
                    class="grow" placeholder="Contacts" />
            </label>
        </div>

        <div>
            <button class="btn text-white bg-gray-800" type="submit">Save</button>
        </div>
    </form>
</div>
