<div class="w-screen h-screen">
    <div class="w-full h-full">
        <div class="m-4">
            <div class="card-actions justify-start" routerLink="">
                
                <button class="mb-4" routerLink="">
                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/long-arrow-left.png" alt="long-arrow-left"/>
                </button>
              </div>

            <div class="card lg:card-side shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
                    alt="Album" />
                </figure>
                <div class="card-body">
                    <div class="pb-4">
                        <h2 class="card-title">Employee Number</h2>
                        <p>{{employee.employeeNumber}}</p>
                    </div>
                    <div class="pb-4">
                        <h2 class="card-title">First Name</h2>
                        <p>{{employee.firstname}}</p>
                    </div>

                    <div class="pb-4">
                        <h2 class="card-title">Last Name</h2>
                        <p>{{employee.lastname}}</p>
                    </div>

                    <div class="pb-4">
                        <h2 class="card-title">Department</h2>
                        <p>{{employee.department}}</p>
                    </div>

                    <div class="pb-4">
                        <h2 class="card-title">Email</h2>
                        <p>{{employee.email}}</p>
                    </div>

                    <div class="pb-4">
                        <h2 class="card-title">Contacts</h2>
                        <p>{{employee.contacts}}</p>
                    </div>

                    <div class="flex space-x-4">
                        <div class="card-actions justify-start">
                            <button class="btn text-white bg-yellow-400">Update</button>
                          </div>
                          <div class="card-actions justify-start">
                            <button class="bg-red-600 btn text-white" (click)="deleteByEmployeeId(employee.employeeId)">Delete</button>
                          </div>
                    </div>
                </div>
              </div>
        </div>

    </div>

</div>